<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shadattonmoy.ams">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TakeAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PastRecord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserManual"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CourseEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StudentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomStudentAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".spreadsheetapi.SpreadSheetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spreadsheetapi.DynamicTabActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ClassInstanceListActivity" />
        <activity android:name=".TakeAttendanceStudentList"></activity>
    </application>

</manifest>